header{
    height: 100vh;
    padding-top: 15rem;
    overflow: hidden;
    background: linear-gradient(var(--color-bg),var(--color-bg),var(--color-bg-variant));
}

/* .logo{
    width: 15rem;
    position: absolute;
    top: 1%;
    left: 10%;
} */
.header__container{
    text-align: left;
    height: 100%;
    position: relative;

}

.desc{
    width:45%;
}

h5{
    color: var(--color-primary);
}

/************************ CTA ************************/

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

/************************ SOCIALS ************************/

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem,;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/************************ SOCIALS ************************/

.me{
    background: linear-gradient(var(--color-primary),transparent);
    position: absolute;
    left: 65%;
    top: -15%;
    margin-top: 4rem;
    border-radius: 25%;
    overflow: hidden;
    padding: 1.5rem;
}

.me > img{
    border-radius: 25%;
}

/************************ SCROLL DOWN ************************/

.scroll__down{
    position: absolute;
    right: -17%;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/***********************Media Querys ( MEDIUM DEVICES) ***********************/
@media screen and (max-width: 1024px) {
    header{
        height: 100vh;
        padding-top: 5rem;
        background: linear-gradient(var(--color-bg),var(--color-bg),var(--color-bg-variant));
    }
    .header__container{
        text-align: center;
    }

    .desc{
        width:100%;
    }

    .cta{
        justify-content: center;
    }

    .me{
        background: linear-gradient(var(--color-primary),transparent);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
        margin-top: 4rem;
        border-radius: 25%;
        overflow: hidden;
        padding: 1.5rem;
    }
    
    img{
        border-radius: 25%;
    }
}

/***********************Media Querys ( SMALL DEVICES) ***********************/
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
        padding-top: 3rem;
        background: linear-gradient(var(--color-bg),var(--color-bg),var(--color-bg-variant));
    }
    .header__container{
        text-align: center;
    }

    .header__socials,.scroll__down{
        display: none;
    }
    .desc{
        width:100%;
    }
    .cta{
        justify-content: center;
    }

    .me{
        width: 60%;
        background: linear-gradient(var(--color-primary),transparent);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
        margin-top: 4rem;
        border-radius: 25%;
        overflow: hidden;
        padding: 1.5rem;
    }
    
    img{
        border-radius: 25%;
    }
}
